In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sqlite3
import sqlalchemy

In [19]:
connection = sqlite3.connect("./db2assign2.db")

In [21]:
df = pd.read_sql_query("SELECT * FROM deptInfo", connection)

DatabaseError: Execution failed on sql 'SELECT * FROM deptInfo': file is not a database